.burger-wrapper {
  position: absolute;
  background-color: #f2e7bc;
  top: 20px;
  width: 60px;
  height: 60px;
  right: 20px;
  z-index: 11; }

.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 18px;
  right: 15px;
  transition-duration: 0.5s; }
  .btn .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 5px;
    width: 30px;
    top: 10px;
    background-color: #110516; }
    .btn .icon:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: #110516;
      content: "";
      top: -10px; }
    .btn .icon:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: #110516;
      content: "";
      top: 9px; }
  .btn.open .icon {
    transition: 0.5s; }
    .btn.open .icon:before {
      transform: rotateZ(-45deg) scaleX(0.75) translate(-9px, -3px); }
    .btn.open .icon:after {
      transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 4px); }
  .btn:hover {
    cursor: pointer; }

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden; }
  .close:hover::before, .close:hover::after {
    background: #1ebcc5; }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000; }
  .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .close.big {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); }
  .close.hairline::before, .close.hairline::after {
    height: 1px; }
  .close.thick::before, .close.thick::after {
    height: 4px;
    margin-top: -2px; }
  .close.black::before, .close.black::after {
    height: 8px;
    margin-top: -4px; }
  .close.heavy::before, .close.heavy::after {
    height: 12px;
    margin-top: -6px; }
  .close.pointy::Before, .close.pointy::after {
    width: 200%;
    left: -50%; }
  .close.rounded::before, .close.rounded::after {
    border-radius: 5px; }
  .close.blades::before, .close.blades::after {
    border-radius: 5px 0; }
  .close.warp::before, .close.warp::after {
    border-radius: 120% 0; }
  .close.fat::before, .close.fat::after {
    border-radius: 100%; }

small {
  display: block;
  padding: 5rem;
  font: .8rem/1 sans-serif;
  color: #777;
  text-align: center; }

small a {
  color: #1ebcc5;
  text-decoration: none;
  border-bottom: 1px solid #ccc; }

small a:hover {
  border-bottom-color: #222; }

.transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Decent browsers */
  opacity: 0.5; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
             supported by Chrome and Opera */ }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #efefef;
  font-size: 1.4em;
  font-family: "Barlow", sans-serif;
  color: #110516;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body.nav-visible {
  overflow: hidden;
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

div#preloader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 300ms all;
  width: 100vw;
  height: 100vh; }
  div#preloader svg {
    width: 100vw;
    height: 100vh; }

header {
  width: 100%;
  overflow: hidden; }
  header div.lang-selectr {
    width: 124px;
    height: 60px;
    top: 20px;
    z-index: 9;
    left: 20px;
    position: absolute;
    border: 1px solid #efefef; }
    header div.lang-selectr div.language {
      float: left;
      width: 49.5%;
      height: 100%;
      line-height: 60px;
      text-align: center;
      font-size: 1.5em;
      color: #efefef;
      font-weight: 100;
      font-family: "Montserrat", sans-serif; }
    header div.lang-selectr div.language.active {
      background-color: #000000; }
    header div.lang-selectr div.language:hover {
      background-color: #efefef;
      cursor: pointer;
      color: #110516; }
    header div.lang-selectr div.en {
      border-left: 1px solid #efefef; }
  header div.navigation-menu {
    width: 50%;
    height: 100%;
    margin-left: 100%;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
    visibility: hidden; }
    header div.navigation-menu ul.nav-ul {
      margin-top: 0;
      list-style: none; }
      header div.navigation-menu ul.nav-ul p {
        padding-top: 30px;
        margin-top: 0; }
      header div.navigation-menu ul.nav-ul li {
        font-size: 2em; }
        header div.navigation-menu ul.nav-ul li a:link,
        header div.navigation-menu ul.nav-ul li a:hover,
        header div.navigation-menu ul.nav-ul li a:visited {
          text-decoration: none;
          color: #110516; }
  header div.navigation-menu.visible {
    background-color: #f2e7bc;
    margin-left: 50%;
    visibility: visible;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1); }

nav.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
  height: 100vh;
  z-index: 10; }

nav.navigation.visible {
  height: 100%;
  visibility: visible;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#110516+0,33103d+100&0.7+0,0.7+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(17, 5, 22, 0.7) 0%, rgba(51, 16, 61, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(17, 5, 22, 0.7) 0%, rgba(51, 16, 61, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(17, 5, 22, 0.5) 0%, rgba(51, 16, 61, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3110516', endColorstr='#b333103d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
  overflow: hidden; }

section#main {
  height: 100vh;
  overflow: hidden; }
  section#main .layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1; }
  section#main .layer1 {
    background-image: url("../img/astronauts/sky.png");
    background-size: cover;
    transition: all 1s ease-in; }
  section#main .layer2 {
    background-image: url("../img/astronauts/mountains.png");
    background-size: cover;
    transition: all 1s ease-in; }
  section#main .layer4 {
    background-image: url("../img/astronauts/land.png");
    background-size: cover;
    transition: all 1s ease-in; }
  section#main .layer3 {
    background-image: url("../img/astronauts/light.png");
    background-size: cover;
    transition: all 1s ease-in; }
  section#main .layer5 {
    background-image: url("../img/astronauts/astronaut_close.png");
    background-size: cover;
    transition: all 1s ease-in; }
  section#main .layer6 {
    background-image: url("../img/astronauts/astronaut_far.png");
    background-size: cover;
    transition: all 1s ease-in; }
  section#main .layer7 {
    background-image: url("../img/astronauts/highlights.png");
    background-size: cover; }
  section#main .layer1.zoomed {
    filter: blur(3px);
    -webkit-filter: blur(3px); }
  section#main .layer4.zoomed {
    transform: translateY(55px) !important; }
  section#main .layer2.zoomed {
    transform: scale(1.5, 1.5) translateY(-70px) !important;
    -webkit-transform: scale(1.5, 1.5);
    filter: blur(1px) !important; }
  section#main .layer3.zoomed {
    transform: scale(1.5, 1.5) !important;
    -webkit-transform: scale(1.5, 1.5);
    filter: blur(1px) !important; }
  section#main .layer5.zoomed {
    transform: translateY(45px) scale(1.8, 1.8) !important;
    -webkit-transform: scale(1.5, 1.5); }
  section#main .layer6.zoomed {
    transform: scale(1.5, 1.5) !important;
    -webkit-transform: scale(1.5, 1.5); }
  section#main img.main-background {
    min-width: 100vw;
    max-width: 100vw;
    height: auto;
    display: block;
    margin: 0 auto;
    transform: translateY(-20%); }
  section#main div.name-intro {
    font-family: "Russo One", sans-serif;
    position: absolute;
    top: 100px;
    left: 25%;
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
    z-index: 11; }
    section#main div.name-intro h1 {
      font-size: 6em;
      margin-bottom: 0; }
    section#main div.name-intro h4 {
      transition: width  800ms;
      transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
      white-space: nowrap;
      text-align: right;
      font-size: 2em;
      margin-top: 10px;
      width: 100%; }
  section#main div.name-intro.name-intro-menu-layout {
    padding-left: 3%;
    max-width: 50%;
    left: 0;
    top: 200px; }
    section#main div.name-intro.name-intro-menu-layout h2 {
      font-size: 2em; }
    section#main div.name-intro.name-intro-menu-layout h4 {
      width: 0; }

section#lead {
  position: relative;
  background-color: #110516;
  color: #efefef; }
  section#lead div.lead_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%; }
    section#lead div.lead_wrapper h2 {
      font-size: 2em; }
    section#lead div.lead_wrapper h3 {
      font-weight: 300; }

section#projects {
  width: 100%;
  background: #110516;
  padding-top: 30px;
  position: relative;
  margin: 0; }
  section#projects .projects_wrapper {
    margin: 0 auto;
    WIDTH: 90%;
    background: #110516;
    height: 1300px;
    max-width: 1700px;
    padding-top: 30px; }
    section#projects .projects_wrapper h3 {
      color: #efefef;
      text-align: center;
      font-size: 2em;
      margin-bottom: 0; }
    section#projects .projects_wrapper article.project {
      margin-right: 1.5%;
      margin-left: 1.5%;
      width: 30%;
      float: left;
      position: relative;
      margin-top: 30px;
      cursor: pointer;
      cursor: hand; }
      section#projects .projects_wrapper article.project .project_background {
        background-color: #ffa12d;
        width: 100%;
        height: 100%; }
        section#projects .projects_wrapper article.project .project_background .project_content {
          background-color: #110516;
          height: 100%;
          transition: all 200ms;
          transition-timing-function: cubic-bezier(0.05, 0.91, 0.43, 0.92); }
          section#projects .projects_wrapper article.project .project_background .project_content .project_thumbnail {
            overflow: hidden; }
            section#projects .projects_wrapper article.project .project_background .project_content .project_thumbnail img {
              width: 100%;
              height: 100%;
              overflow: hidden; }
          section#projects .projects_wrapper article.project .project_background .project_content .project_caption {
            color: #efefef;
            font-family: "Barlow", sans-serif;
            padding-left: 20px; }
            section#projects .projects_wrapper article.project .project_background .project_content .project_caption h3 {
              font-size: 3em;
              margin-top: 10px;
              margin-bottom: 10px; }
            section#projects .projects_wrapper article.project .project_background .project_content .project_caption h4 {
              font-weight: 200; }
        section#projects .projects_wrapper article.project .project_background .project_content:hover {
          box-shadow: 0 20px 25px rgba(255, 161, 45, 0.2);
          transform: translate3d(5px, -8px, 0); }
  section#projects div.project_full {
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    display: none; }
    section#projects div.project_full figure.screen_full {
      width: 50%;
      background-color: #1ebcc5;
      height: 100%;
      position: absolute;
      padding: 0;
      margin: 0; }
    section#projects div.project_full article.desc_full {
      box-sizing: border-box;
      width: 50%;
      background: #F2994A;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #F2C94C, #F2994A);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 100%;
      position: absolute;
      left: 50%;
      padding: 0;
      margin: 0;
      padding-left: 30px; }
      section#projects div.project_full article.desc_full h2.project-full-title {
        margin-top: 40%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 3em;
        text-align: center; }
      section#projects div.project_full article.desc_full p.project-full-heading {
        margin-top: 40px;
        font-weight: 700;
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-size: 1.7em; }
      section#projects div.project_full article.desc_full p.project-full-text {
        margin-top: 30px;
        font-family: "Barlow", sans-serif;
        font-size: 1.3em; }
  section#projects div.project_full#project1 > figure.screen_full {
    background-image: url("../img/projects_copernicana.jpg");
    background-size: cover; }
  section#projects div.project_full#project2 > figure.screen_full {
    background-image: url("../img/projects_poi.jpg");
    background-size: cover; }
  section#projects div.project_full#project5 > figure.screen_full {
    background-image: url("../img/projects_efekty.PNG");
    background-size: cover; }
  section#projects div.project_full#project6 > figure.screen_full {
    background-image: url("../img/projects_soft.PNG");
    background-size: cover; }

section#footer {
  background-color: #f2e7bc; }
  section#footer div.callme_wrapper {
    text-align: center; }
    section#footer div.callme_wrapper a {
      text-decoration: none; }
    section#footer div.callme_wrapper a:active, section#footer div.callme_wrapper a:visited, section#footer div.callme_wrapper a:hover, section#footer div.callme_wrapper a:link {
      color: #110516; }
    section#footer div.callme_wrapper h2 {
      margin-top: 0;
      padding-top: 30px; }
  section#footer .contact_links {
    text-align: center;
    width: 100%;
    padding-bottom: 30px; }
    section#footer .contact_links ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      line-height: 30px; }
      section#footer .contact_links ul li {
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px; }
        section#footer .contact_links ul li a {
          text-decoration: none; }
        section#footer .contact_links ul li a:active, section#footer .contact_links ul li a:visited, section#footer .contact_links ul li a:hover, section#footer .contact_links ul li a:link {
          color: #110516; }

@media only screen and (max-width: 767px) and (min-width: 266px) {
  body {
    background-color: #110516; }

  header div.navigation-menu {
    width: 100%; }
  header div.navigation-menu.visible {
    margin-left: 0; }

  section#main div.name-intro {
    left: initial;
    width: 100%;
    top: 200px; }
    section#main div.name-intro h1 {
      font-size: 3.2em;
      text-align: center; }
    section#main div.name-intro h4 {
      font-size: 1.2em;
      text-align: center; }
  section#main div.name-intro.name-intro-menu-layout {
    height: 100%;
    width: 100%;
    max-width: none;
    left: initial; }
    section#main div.name-intro.name-intro-menu-layout h1 {
      font-size: 3.2em;
      text-align: center;
      position: absolute;
      top: 100px; }
    section#main div.name-intro.name-intro-menu-layout h4 {
      position: absolute;
      top: 231px;
      text-align: center;
      width: inherit;
      padding-left: 0;
      max-width: none; }

  section#projects {
    width: 100%;
    background: #110516;
    padding-top: 30px;
    overflow: hidden;
    padding-top: 0;
    margin: 0; }
    section#projects .projects_wrapper {
      width: 100%; }
      section#projects .projects_wrapper article.project {
        margin-right: 0;
        margin-left: 0;
        position: relative;
        width: 100%;
        clear: both; }
        section#projects .projects_wrapper article.project .project_background {
          background-color: #110516;
          width: 100%;
          height: 100%; }
          section#projects .projects_wrapper article.project .project_background .project_content {
            background-color: white;
            height: auto;
            width: 100%;
            transition: all 200ms;
            transition-timing-function: cubic-bezier(0.05, 0.91, 0.43, 0.92); }
            section#projects .projects_wrapper article.project .project_background .project_content .project_thumbnail {
              overflow: hidden; }
              section#projects .projects_wrapper article.project .project_background .project_content .project_thumbnail img {
                width: 100%;
                height: auto; }
            section#projects .projects_wrapper article.project .project_background .project_content .project_caption h3, section#projects .projects_wrapper article.project .project_background .project_content .project_caption h4 {
              color: #110516; }
          section#projects .projects_wrapper article.project .project_background .project_content:hover {
            box-shadow: none;
            transform: none; } }
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  header div.navigation-menu {
    width: 100%; }
  header div.navigation-menu.visible {
    margin-left: 0; }

  section#main div.name-intro h1 {
    font-size: 4.2em; }
  section#main div.name-intro h4 {
    font-size: 1.2em;
    text-align: initial; }
  section#main div.name-intro.name-intro-menu-layout {
    top: 350px; }

  section#projects {
    width: 100%;
    background: #110516;
    padding-top: 30px;
    margin: 0; }
    section#projects .projects_wrapper {
      width: 100%; }
      section#projects .projects_wrapper article.project {
        margin-right: 0;
        margin-left: 0;
        position: relative;
        width: 50%;
        float: left; }
        section#projects .projects_wrapper article.project .project_background {
          background-color: #110516;
          width: 100%;
          height: 100%; }
          section#projects .projects_wrapper article.project .project_background .project_content {
            background-color: white;
            height: 100%;
            transition: all 200ms;
            transition-timing-function: cubic-bezier(0.05, 0.91, 0.43, 0.92); }
            section#projects .projects_wrapper article.project .project_background .project_content .project_thumbnail {
              overflow: hidden; }
            section#projects .projects_wrapper article.project .project_background .project_content .project_caption h3, section#projects .projects_wrapper article.project .project_background .project_content .project_caption h4 {
              color: #110516; }
          section#projects .projects_wrapper article.project .project_background .project_content:hover {
            box-shadow: 0 20px 25px rgba(1, 30, 30, 0.2);
            transform: translate3d(0px, -8px, 0); } }

/*# sourceMappingURL=main.css.map */
